@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    display: grid; /* grid */
    /*height: 100vh;*/
    width: 100%;
    margin-top: 10rem;
    place-items: center;
    background: linear-gradient(to right, #005999 0%, #8bd2e5 100%);
}