{{>layout/header}}
<link href="/css/login.css" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">
</head>

<body>
{{>layout/background_snow}}

<div class="login_container">

    <div id="custom_form">
        <p id = "login_title">Welcome</p>
        <input type="email" class="invisible" id="userNickname" placeholder="Nickname"><br>
        <input type="email" id="userId" placeholder="Email"><br>
        <input type="password" id="userPassword" placeholder="Password"><br>

        <input type="button" id="login_input" value="Login"><br>
        <input type="button" class="invisible" id="sign_up_btn" value="Sign Up"><br>

        <div id="custom_btn" onclick="changeMode()">Sign Up</div>
    </div>

    <div class="drops">
        <div class="drop drop-1"></div>
        <div class="drop drop-2"></div>
        <div class="drop drop-3"></div>
        <div class="drop drop-4"></div>
        <div class="drop drop-5"></div>
    </div>
</div>

<script>
    {
        const loginBtn = document.querySelector("#login_input");
        const signUpBtn = document.querySelector("#sign_up_btn");

        loginBtn.addEventListener("click", () => login());
        signUpBtn.addEventListener("click", () => signUp());
    }
    {
        const passwordInput = document.querySelector('body');
        passwordInput.addEventListener("keyup", (event) =>{
            if(window.event.keyCode == 13) login();
        })
    }
</script>
<script src="/js/login/signup.js"></script>
<script src="/js/login/login.js"></script>
{{>layout/footer}}
