{{>layout/header}}
<link href="/css/login.css" rel="stylesheet">

<div class="container">
    <div class = "login_form">
        <div class="title">Login</div>
        <div class="input-box underline">
            <input type="text" id = "userId" placeholder="Enter Your Email" required>
            <div class="underline"></div>
        </div>
        <div class="input-box">
            <input type="password" id = "userPassword" placeholder="Enter Your Password" required>
            <div class="underline"></div>
        </div>

        <div class="input-box button" style="float: left">
            <input type="submit" value="Continue" id = "login_input" onclick="login()">
        </div>
    </div>

    <div class="option">
        <a class ="underline"
            id = "sign_up_tag"
           data-bs-toggle="modal"
           data-bs-target="#comment-edit-modal">
            Sign Up</a>
        or Connect With Social Media

    </div>
    <div class="twitter">
        <a href="#"><i class="fab fa-twitter"></i>Sign in With Twitter</a>
    </div>
    <div class="facebook">
        <a href="#"><i class="fab fa-facebook-f"></i>Sign in With Facebook</a>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="comment-edit-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class = "modal-content container">
            <div class="modal-body">
                <div class = "login_form">
                    <div class="title">Sign Up</div>
                    <div class="input-box underline">
                        <input type="text" id = "sign_up_nickname" placeholder="Enter Your Nickname" required>
                        <div class="underline"></div>
                    </div>
                    <div class="input-box underline">
                        <input type="text" id = "sign_up_id" placeholder="Enter Your Email" required>
                        <div class="underline"></div>
                    </div>
                    <div class="input-box">
                        <input type="password" id = "sign_up_password" placeholder="Enter Your Password" required>
                        <div class="underline"></div>
                    </div>

                    <div class="input-box button" style="float: left">
                        <input type="submit" name="" value="Sing Up" id = "sign_up_input" onclick="signup()">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/login/signup.js"></script>
<script src="/js/login/login.js"></script>
{{>layout/footer}}
