{{>layout/header}}
{{>layout/navbar}}

<div align="center">
    <table class="styled-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Content</th>
            <th>Like</th>
            <th>View</th>

        </tr>
        </thead>
        <tbody>
        <tr class="active-row">
            <td>Melissa</td>
            <td>5150</td>
            <td>Content</td>
            <td>99</td>
            <td>999</td>
        </tr>
        </tbody>
    </table>
</div>

{{>layout/footer}}