{{>layout/header}}
<link rel="stylesheet" type="text/css" href="/css/article/articleViewpage.css">
<link rel="stylesheet" href="/css/comment/comment_card_table.css">

<link href="/css/baseCss/body.css" rel="stylesheet">
</head>

<body onload="availableCheck()">

{{>layout/navbar}}
    <input type="hidden" id = "hidden_user_nickname" value="{{userNickname}}">

	<section class="home"> <!-- main-content -->

		<div class="view__container">
			<h1 class="text-center text-uppercase"></h1>
			<br>
			<br>
			<div class="row">
				<div class="job-card-container">  <!-- col-sm-6 offset-sm-3 -->
                    {{#articleDto}}
                        <input type="hidden" id = "hidden_article_id" value="{{id}}">
                        <input type="hidden" id = "hidden_article_author" value="{{author}}">
					<div class="job-card">
						<div class="job-card__content">
							<div class="job-card__content-top">
								<div class="job-card_img">
									<img src="/image/user.png" alt="Company Logo">
								</div>
								<div class="job-card_info">
									<a href="" class="float-right">
										<i class="fa fa-heart-o"></i>
									</a>
									<a href="" class="job-card_company">
										<h4 class="mb-1 d-inline-block">{{author}}</h4>
									</a>
									<p class="">Web developer</p>
								</div>
                                <div>
                                    <button type="button"
                                            id="article_edit_btn"
                                            class="btn btn-outline-primary"
                                            data-bs-toggle="modal"
                                            data-bs-target="#article-update-modal"
                                    >수정</button>
                                    <button class="btn btn-outline-danger" id="article_delete_btn" onclick="deleteArticle()">삭제</button>
                                </div>
							</div>
							<div class="job-card_content-mid">
								<h4>{{title}}</h4>
								<p class="mb-0">{{content}}</p>
								<div class="job-card_job-type">
									<span class="job-label">Full time</span>
									<span class="job-label">Senior</span>
									<span class="job-label">UX/UI</span>
                                    <span class="job-label">Likes {{likes}}</span>
                                    <span class="job-label">View {{view}}</span>
								</div>
							</div>
						</div>
						<div class="job-card__footer">
							<!-- <p class="mb-1 mt-1 text-muted">Posted: 2 days ago</p> -->
                            <input type="text" id = "input_comment_content" placeholder="댓글 입력">
                            <button class="btn btn-primary" onclick="createdComment()">등록</button>
						</div>
					</div>
                    {{/articleDto}}
				</div>
			</div>
		</div>

        <!-- 댓글 카드 -->

        <div class="comment-drop">
            <div class="comment-drop__container" id='drop-item'>
                {{#commentDtos}}
                    <input id="hidden_comment_id" hidden value="{{id}}">
                    <div class="comment-drop__card">
                        <div class="drop__data">
                            <img src="/image/user.png" alt="" class="drop__img">
                            <div>
                                <h1 class="drop__name">{{nickname}}</h1>
                                <span class="drop__proffession">Web Developer</span>
                            </div>

                            <div class="drop__comment">
                                <textarea id = "comment_content" readonly>{{content}}</textarea>
                            </div>
                        </div>
                        <input type="hidden" id = "article_id" value = "id">
                        <div>
                            <div class="drop__soc invisible" id = "comment_ok_btn" onclick="updateComment()"><i class='bx bx-check bx-sm'></i></div>
                            <div class="drop__soc invisible" id = "comment_cancle_btn" onclick="changeNormalMode()"><i class='bx bx-redo bx-flip-horizontal bx-sm'></i></div>

                            <div class="drop__soc" id = "comment_edit_btn" onclick="changeUpdateMode()"><i class='bx bx-edit-alt bx-sm'></i></div>
                            <div class="drop__soc" id = "comment_delete_btn"><i class='bx bx-comment-x bx-sm'></i></div>
                        </div>
                    </div>
                {{/commentDtos}}
            </div>
        </div>




        <!-- Update Modal -->
        <div class="modal fade" id="article-update-modal" tabindex="-1">
            <div class="modal-dialog">
                <div class = "modal-content container" id="update_article_modal">
                    <div class="modal-body">
                        <div class = "login_form">
                            <div class="title">Update Article</div>
                            <div class="input-box underline">
                                <input type="text" id = "update_article_author" value="{{articleDto.author}}" readonly>
                                <div class="underline"></div>
                            </div>
                            <div class="input-box underline">
                                <input type="text" id = "update_article_title" value = "{{articleDto.title}}"placeholder="Enter Title" required>
                                <div class="underline"></div>
                            </div>
                            <div class="input-text-box">
                                <textarea type="text" id = "update_article_content" placeholder="Enter Content" required>{{articleDto.content}}</textarea>
                                <div class="underline"></div>
                            </div>

                            <div class="input-box button" style="float: left">
                                <input type="submit" name="" value="Registration" id = "article_resist_btn" onclick="updateArticle()">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</section>

<script src="/js/view/articleView.js"></script>
<script src="/js/comment/comment.js"></script>
<script src="/js/article/article.js"></script>
{{>layout/footer}}