/*=====-------------------------- GOOGLE FONTS --------------------------=====*/
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap");

/*=====-------------------------- BASE --------------------------=====*/
*,::before,::after{
    box-sizing: border-box;
}

body{
    /*=====-------------------------- Colors --------------------------=====*/
/*    --first-color: #272A3A;
    --first-color-light: #e5e5e5; !*#8A8EAA;*!
    --first-color-lighten: #F8F8FC;
    --shadow-color: #b4b4b4;
    --shadow-color-sub: #fff;
    --cardtable-background-color: rgba(210, 210, 210, 0.4);*/

    /*=====-------------------------- Font and typography --------------------------=====*/
    --body-font: 'Ubuntu', sans-serif;
    --normal-font-size: 1rem;
    --smaller-font-size: .813rem;

    margin: 0;
    padding: 0;
    font-family: var(--body-font);
}

body.dark{
    /*=====-------------------------- Colors --------------------------=====*/
    --text-color: #000000;
    --first-color-light: #e5e5e5;
    --cardtable-background-color: rgba(255, 255, 255, 0.3);

    --shadow-color: rgba(0, 0, 0, 0);
    --shadow-color-sub: rgba(255, 255, 255, 0);
    /*=====-------------------------- Font and typography --------------------------=====*/
    --body-font: 'Ubuntu', sans-serif;
    --normal-font-size: 1rem;
    --smaller-font-size: .813rem;

    margin: 0;
    padding: 0;
    font-family: var(--body-font);
}

h1{
    margin: 0;
}

a{
    text-decoration: none;
    outline: none;
}


img{
    max-width: 100%;
    height: auto;
}


.home{
    height: 95%;
}
/*=====-------------------------- DRAG and DROP --------------------------=====*/
.comment-drop, .comment-drop__container{
    /*height: 90%;*/
    display: block;
}

.drop{
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.drop__data{
    display: flex;
    align-items: center;
}
.comment-drop__container{
    row-gap: 3rem;
    padding: 2rem;
    justify-content: center;

    resize: vertical;
    overflow: auto;
    /* box-shadow: 4px 4px 16px #E1E1E1; */
}

.comment-drop__card{
    display: flex;
    align-items: center;
}

.comment-drop__card{
    width: 61.8%;
    justify-content: space-between;
    padding: 2rem 1.25rem 2rem .75rem;
    margin: 0 auto 2rem;
    background: var(--cardtable-background-color);
    backdrop-filter: blur(20px);
    border-radius: 0.5rem;
}

.comment-drop__card:hover{
    cursor: pointer;
    transform: scale(1.03);
}

.drop__img{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-right: 1rem;
}

.drop__name{
    font-size: var(--normal-font-size);
    color: var(--name-text-color);
}

.drop__proffession, div > h1{
    font-size: var(--smaller-font-size);
    color: var(--text-color)
}

.drop__social{
    margin: 0 .375rem;
    color: var(--text-color);
    transition: .4s;
}

.drop__social:hover{
    color: var(--first-color);
}

.drop__title{
    margin-left: 2rem;
}

.drop__comment{
    margin-left: 2rem;

}

.drop__comment textarea{
    width: 500px;
    height: auto;
    outline: none;
    resize: none;
    overflow: auto;

    font-size: 16px;
    border: none;
    background: rgba(255, 255, 255, 0);
    border-radius: 0.3rem;
    color: var(--text-color);
}

/*-------------------------- Class name for the chosen item --------------------------*/

.sortable-chosen{
    box-shadow: 8px 8px 32px #E1E1E1;
}

/*-------------------------- Class name for the dragging item --------------------------*/

.sortable-drag{
    opacity: 0;
}