

:root{
    /* ===== Colors ===== (navbar) */
    --body-color: #E4E9F7;
    --sidebar-color: rgba(255, 255, 255, 0.3); /* #FFF;*/

    --primary-color: #695CFE;
    --primary-color-light: rgba(246, 245, 255, 0.32);
    --toggle-color: #DDD;


    /*=====-------------------------- Text Colors --------------------------=====* (card_table)*/
    --text-color: rgba(255,255,255,0.7);
    --name-text-color: #000000;
    --title-text-color: rgba(189, 189, 189, 0.6);

    --first-color-lighten: #F8F8FC;

    --shadow-color: #b4b4b4;
    --shadow-color-sub: #fff;

    /*=====-------------------------- Colors --------------------------=====* (articleViewpage)*/
    --card-background-color: rgba(255, 255, 255, 0.3); /*rgba(210, 210, 210, 0.4);*/
    --card-footer-color:#fafafa; /*rgba(210, 210, 210, 0.4); /*#fafafa;*/

    --cardtable-background-color: rgba(255, 255, 255, 0.3);  /* #ffffff; /*rgba(210, 210, 210, 0.4);*/
}